nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="$root.authenticated")
  .container
    .navbar-left
      p.navbar-text Admininstration
    form.navbar-from.navbar-right
      .btn-group.navbar-btn
        button.btn.btn-warning(ng-if="add", title="Hinzufügen", ng-click="add()")
          i.fa.fa-plus
        button.btn.btn-warning(ng-if="addDropdown", title="Hinzufügen", bs-dropdown="addDropdown", ng-click="$event.stopPropagation();", data-template-url="dropdown", data-placement="top", data-html="true")
          i.fa.fa-plus
        button.btn.btn-success(ng-if="download", title="Herunterladen", ng-click="download()")
          i.fa.fa-download
        button.btn.btn-success(ng-if="refresh", title="Aktualisieren", ng-click="refresh()")
          i.fa.fa-refresh
        button.btn.btn-success(ng-if="toogleHtml", title="HTML-Modus umschalten", ng-click="toogleHtml()")
          i.fa.fa-html5
        button.btn.btn-primary(ng-if="save", title="Speichern", ng-click="save()")
          i.fa.fa-floppy-o
      button.btn.btn-default.navbar-btn(title="Einstellungen", bs-dropdown="adminSettingDropdown", ng-click="$event.stopPropagation();", data-template-url="dropdown", data-placement="top", data-html="true")
        i.fa.fa-cog