doctype html
html(lang="en", ng-app="jumplink.cms", ng-controller="AppController", ng-init="$root.authenticated = #{authenticated}; $root.user = #{user}; $root.debug = false")
  head
    base(href="/")
    title Nautischer Verein Cuxhaven
    //- favicons generated with http://www.favicon-generator.org/
    link(rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/assets/favicons/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/assets/favicons/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png")
    link(rel="manifest" href="/assets/favicons/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    //- Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    if force != 'modern'
      noscript
        meta(http-equiv="refresh" content="0; url="+url+"?force=noscript")
    //- Stylesheets
    link(href='/assets/styles/app.css', rel='stylesheet')

    //- Templates
    //- general
    script(type="text/ng-template", id="layout"): include ./layout.jade
    script(type="text/ng-template", id="toolbar"): include ./toolbar.jade
    script(type="text/ng-template", id="footer"): include ./footer.jade
    script(type="text/ng-template", id="sidebar"): include ./sidebar.jade
    script(type="text/ng-template", id="adminbar"): include ./adminbar.jade
    script(type="text/ng-template", id="datepicker"): include ./datepicker.jade
    script(type="text/ng-template", id="timepicker"): include ./timepicker.jade
    script(type="text/ng-template", id="dropdown"): include ./dropdown.jade
    script(type="text/ng-template", id="select"): include ./select.jade
    script(type="text/ng-template", id="contentmodal"): include ./contentmodal.jade
    script(type="text/ng-template", id="editsubnavigationmodal"): include ./editsubnavigationmodal.jade
    //- home
    script(type="text/ng-template", id="home/content"): include ./home/content.jade
    //- gallery
    script(type="text/ng-template", id="gallery/content"): include ./gallery/content.jade
    script(type="text/ng-template", id="gallery/fullscreen"): include ./gallery/fullscreen.jade
    script(type="text/ng-template", id="gallery/slider"): include ./gallery/slider.jade
    script(type="text/ng-template", id="gallery/toolbar"): include ./gallery/toolbar.jade
    script(type="text/ng-template", id="gallery/editimagemodal"): include ./gallery/editimagemodal.jade
    script(type="text/ng-template", id="gallery/uploadimagesmodal"): include ./gallery/uploadimagesmodal.jade
    //- events
    script(type="text/ng-template", id="events/timeline"): include ./events/timeline.jade
    script(type="text/ng-template", id="events/typechoosermodal"): include ./events/typechoosermodal.jade
    script(type="text/ng-template", id="events/editeventmodal"): include ./events/editeventmodal.jade
    //- members
    script(type="text/ng-template", id="members/content"): include ./members/content.jade
    script(type="text/ng-template", id="members/editmembermodal"): include ./members/editmembermodal.jade
    //- application
    script(type="text/ng-template", id="application/content"): include ./application/content.jade
    //- imprint
    script(type="text/ng-template", id="imprint/content"): include ./imprint/content.jade
    //- links
    script(type="text/ng-template", id="links/content"): include ./links/content.jade
    //- admin
    script(type="text/ng-template", id="administration/settings"): include ./administration/settings.jade
    script(type="text/ng-template", id="administration/users"): include ./administration/users.jade
    script(type="text/ng-template", id="administration/user"): include ./administration/user.jade
    //- CMS
    script(type="text/ng-template", id="cms/content"): include ./cms/content.jade
  body(ng-class="bodyclass")
    include ./variables.jade
    if force != 'modern'
      noscript
        div(style="padding: 40px 15px;text-align: center;")
          h1 Sie haben JavaScript deaktivert.
          a.btn.btn-primary.btn-lg(href="https://"+url+"?force=noscript") Kompatiblitätsmodus aktivieren
    span(ui-view)
    // SCRIPTS
    if config.environment == 'development'
      script(type="text/javascript", charset="utf-8", src="assets/js/app.concat.js")
    else
      script(type="text/javascript", charset="utf-8", src="assets/js/app.min.js")
    // SCRIPTS END
