.container-fluid(style="min-height: 400px;")
  .row
    .col-md-2.hidden-sm.hidden-xs
      .bs-sidebar(hidden-print, role="complementary", data-offset-top="-50", bs-affix)
        ul.nav.bs-sidenav
          li(ng-repeat="nav in navs", data-target="{{'#'+nav.target}}", bs-scrollspy, data-offset="70")
            a(ng-click="goTo(nav.target)") {{nav.name}}
    .col-md-10
      h1.page-header#links Links
      jl-content(data-authenticated="authenticated", data-content="links.content", data-html="html")
adminbar(data-add="add", data-download="download", data-refresh="refresh", data-toogle-html="toogleHtml", data-save="save")