//- Left Subnavigation visable on medium devices or larger
.col-md-2.hidden-xs.hidden-sm
  .bs-sidebar(hidden-print, role="complementary")
    ul.nav.bs-sidenav
      each nav in navs
        li
          a(href="\##{nav.target}") #{nav.name}