.container
  .page-header
    h1 Einstellungen
  h2 Allgemein
  .media(ng-repeat="theme in themeSettings.available | orderBy:priority")
    .media-left
      img.media-object(ng-src='{{theme.image}}?theme={{theme.dirname}}', alt='{{theme.image}}', style="width:200px;", width="200px")
    .media-body
      h4.media-heading {{theme.name}}
      | {{theme.description}}
    .media-right
      .form-group(style="width:100px;")
        label(for='exampleInputEmail1') Priorität
        input.form-control(type='number', ng-model="theme.priority")
  h2
    a(ui-sref='layout.users') Benutzer
  h2
    a(ng-click="$root.logout()") Abmelden
adminbar(data-authenticated="authenticated", data-allow-actions="authenticated", data-add="add", data-download="download", data-refresh="refresh", data-toogle-html="toogleHtml", data-save="save")