#top(hidden-print, style="margin-top: -20px;width: 100%;")
  ul(rn-carousel="", rn-carousel-auto-slide="10", style="width: 100%;")
    li
      img(src="/assets/images/header/1.jpg", style="width: 100%;")
    li
      img(src="/assets/images/header/2.jpg", style="width: 100%;")
    li
      img(src="/assets/images/header/3.jpg", style="width: 100%;")
    li
      img(src="/assets/images/header/4.jpg", style="width: 100%;")
    li
      img(src="/assets/images/header/5.jpg", style="width: 100%;")
.container(style="min-height: 200px;")
  .row  
    .col-md-2.hidden-sm.hidden-xs
      .bs-sidebar(hidden-print, role="complementary", bs-affix, data-offset-top="-50")
        ul.nav.bs-sidenav
          li(ng-repeat="nav in navs", ng-if="nav.target && nav.name", data-target="{{'#'+nav.target}}", bs-scrollspy, data-offset="70")
            a(ng-click="goTo(nav.target)") {{nav.name}}
        button.btn.btn-warning.pull-right(ng-if="authenticated", ng-click="editNavs(navs)", title="Navigation bearbeiten"): i.fa.fa-edit
    .col-md-8
      h1.page-header Startseite
      //- Events visable on small devices or smaller
      .hidden-lg.hidden-md
        .panel.panel-primary(style="margin-top: 40px;")
          .panel-heading
            h3.panel-title.text-center Aktuelles
          .panel-body
            div(ng-show="html && authenticated", ng-model="news.content", ui-ace="{workerPath: '/assets/third-party/ace-builds/src-noconflict', mode: 'html'}")
            div(ng-show="authenticated", medium-editor, ng-model="news.content", options='{"placeholder": "Optionale News hier eingeben", "buttonLabels": "fontawesome", "buttons": ["bold", "italic", "underline", "anchor", "header1" , "header2", "quote", "orderedlist", "unorderedlist"]}', bind-options="mediumBindOptions")
            div(ng-bind-html="news.content", ng-hide="authenticated")
            div(ng-if="events.after.length <= 0")
              | Keine bevorstehenden Veranstaltungen
          ul.list-group(ng-if="events.after.length > 0")
            li.list-group-item(ng-repeat="event in events.after | orderBy:'from'")
              a(ng-href="#/events\#{{event.name}}") {{event.title}}
      div(ng-repeat="content in contents | orderBy:'position'")
        p.btn-group.pull-right(ng-if="authenticated")
          button.btn.btn-warning(ng-click="moveBackward($index, content)", ng-disabled="$index <= 0", title="Block nach oben verschieben"): i.fa.fa-backward.fa-rotate-90
          button.btn.btn-danger(ng-click="remove($index, content)", title="Block löschen"): i.fa.fa-trash
          button.btn.btn-warning(ng-click="edit($index, content)", title="Block bearbeiten"): i.fa.fa-edit
          //- button.btn.btn-primary(ng-click="save($index, content)", title="Speichern"): i.fa.fa-floppy-o
          button.btn.btn-warning(ng-click="moveForward($index, content)", ng-disabled="$index >= contents.length - 1", title="Block nach unten verschieben"): i.fa.fa-forward.fa-rotate-90
        h2.page-header(ng-if="$root.authenticated", id="{{content.name}}", medium-editor, ng-model="content.title", options='{"placeholder": "Titel eingeben", "disableToolbar": true, "paste.forcePlainText": true, "disableReturn": true}')
        h2.page-header(ng-if="!$root.authenticated", id="{{content.name}}", ng-bind-html="content.title")
        div(ng-show="html && $root.authenticated", ui-ace="{workerPath: '/assets/third-party/ace-builds/src-noconflict', mode: 'html'}", ng-model="content.content")
        div(ng-show="$root.authenticated", medium-editor, ng-model="content.content", options='{"placeholder": "Inhalt eingeben", "buttonLabels": "fontawesome", "buttons": ["bold", "italic", "underline", "anchor", "header1" , "header2", "quote", "orderedlist", "unorderedlist"]}', bind-options="mediumBindOptions")
        div(ng-bind-html="content.content", ng-hide="$root.authenticated")
    //- Events visable on medium devices or larger
    .col-md-2.hidden-xs.hidden-sm
      .panel.panel-primary(bs-affix, data-offset-top="-50", style="margin-top: 40px;")
        .panel-heading
          h3.panel-title.text-center Aktuelles
        .panel-body
          div(ng-show="authenticated", medium-editor, ng-model="news.content", options='{"placeholder": "Optionale News hier eingeben", "buttonLabels": "fontawesome", "buttons": ["bold", "italic", "underline", "anchor", "header1" , "header2", "quote", "orderedlist", "unorderedlist"]}', bind-options="mediumBindOptions")
          div(ng-bind-html="news.content", ng-hide="authenticated")
          div(ng-if="events.after.length <= 0")
            | Keine bevorstehenden Veranstaltungen
        ul.list-group(ng-if="events.after.length > 0")
          li.list-group-item(ng-repeat="event in events.after | orderBy:'from'")
            a(ng-href="#/events\#{{event.name}}") {{event.title}}
adminbar(data-add="addContent", data-download="download", data-refresh="refresh", data-toogle-html="toogleHtml", data-save="save")