.container-fluid(style="min-height: 400px;")
  .row
    .col-md-2.hidden-sm.hidden-xs
      .bs-sidebar(hidden-print, role="complementary", data-offset-top="-50", bs-affix)
        ul.nav.bs-sidenav
          li(ng-repeat="eventName in ['after', 'before', 'unknown']", ng-if="events[eventName].length > 0", data-target="{{'#'+eventName}}", bs-scrollspy, data-offset="70", ng-switch on="eventName")
            a(ng-switch-when="before", ng-click="goTo(eventName)") Vergangene Veranstaltungen
            a(ng-switch-when="after", ng-click="goTo(eventName)") Anstehende Veranstaltungen
            a(ng-switch-default, ng-click="goTo(eventName)") Weitere
            ul.nav
              li(ng-repeat="event in events[eventName] | orderBy:'from':eventName === 'before' ? true : false", data-target="{{'#'+event.name}}", bs-scrollspy, data-offset="70", )
                a(ng-click="goTo(event.name)", title="{{event.title}}") {{event.title}}
    .col-md-10
      span(ng-repeat="eventName in ['after', 'before', 'unknown']", ng-if="events[eventName].length > 0", ng-switch on="eventName")
        h1.page-header(id="{{eventName}}", ng-switch-when="before") Vergangene Veranstaltungen / Archiv
        h1.page-header(id="{{eventName}}", ng-switch-when="after") Anstehende Veranstaltungen
        h1.page-header(id="{{eventName}}", ng-switch-default) Weitere unsortiere Veranstaltungen
        ul.timeline
          li(ng-repeat="event in events[eventName] | orderBy:'from':eventName === 'before' ? true : false", ng-class="{'timeline-inverted':$index%2}", ng-switch, on="event.type")
            //- Timerline type
            //- Vortrag
            .timeline-badge.success(ng-switch-when="lecture", ng-click="openTypeChooserModal(event)")
              i.fa.fa-graduation-cap
            //- Poliumsdisskusion
            .timeline-badge.warning(ng-switch-when="panel discussion", ng-click="openTypeChooserModal(event)")
              i.fa.fa-users
            //- Reise
            .timeline-badge.primary(ng-switch-when="travel", ng-click="openTypeChooserModal(event)")
              i.fa.fa-ship
            //- Information
            .timeline-badge.info(ng-switch-when="info", ng-click="openTypeChooserModal(event)")
              i.fa.fa-info
            //- Schifffahrtsessen
            .timeline-badge.danger(ng-switch-when="food", ng-click="openTypeChooserModal(event)")
              i.fa.fa-cutlery
            //- Anderes
            .timeline-badge(ng-switch-default, ng-click="openTypeChooserModal(event)")
              i.fa.fa-check-square
            .timeline-panel(id="{{event.name}}")
              .timeline-heading
                h4.timeline-title(ng-show="$root.authenticated", medium-editor, ng-model="event.title", options='{"buttonLabels": "fontawesome", "placeholder": "Kein Titel angegeben", "disableToolbar": true, "paste.forcePlainText": true, "disableReturn": true}')
                h4.timeline-title(ng-show="!$root.authenticated && event.title", ng-bind-html="event.title")
                p.text-muted
                  i.fa.fa-user(ng-show="$root.authenticated || event.person")
                  //- Person (Admin)
                  span(ng-show="$root.authenticated", medium-editor, ng-model="event.person", options='{"placeholder": "Keine Person angegeben", "disableToolbar": true, "paste.forcePlainText": true, "disableReturn": true}')
                  //- Person (User)
                  span(ng-show="!$root.authenticated && event.person", ng-bind-html="event.person")
                //- Von bis (User)
                p.text-muted(ng-show="event.from", ng-click="edit(event)")
                  i.fa.fa-clock-o
                  span(title="{{event.from | amCalendar}}")
                    | {{event.from | amDateFormat:'dddd Do MMMM YYYY, HH:mm'}} Uhr
                  span(ng-show="event.to", title="bis {{event.to | amCalendar}}")
                    |  bis {{event.to | amDateFormat:'dddd Do MMMM YYYY, HH:mm'}} Uhr
                p.text-muted(ng-show="$root.authenticated")
                  i.fa.fa-home
                  span(medium-editor, ng-model="event.place", options='{"placeholder": "Kein Ort angegeben", "disableToolbar": true, "paste.forcePlainText": true, "disableReturn": true}')
                p.text-muted(ng-hide="$root.authenticated", ng-show="event.place")
                  i.fa.fa-home(ng-show="event.place")
                  a(ng-hide="$root.authenticated", ng-bind-html="event.place", ng-href="https://maps.google.com?q={{event.place}}")
              .timeline-body
                p(ng-show="event.download")
                  a(href="/{{config.paths.timeline}}/{{event.download}}").btn.btn-info: | Weitere Informationen
                p.btn-group(ng-show="$root.authenticated")
                  button.btn.btn-danger(type="button", title="Ereignis löschen", ng-click="remove(event, eventName)"): i.fa.fa-trash
                  button.btn.btn-warning(type="button", title="Ereignis bearbeiten", ng-click="edit(event, eventName)"): i.fa.fa-edit
                  button.btn.btn-primary(type="button", title="Ereignis speichern", ng-click="save(event, eventName)"): i.fa.fa-floppy-o
adminbar(data-add="add", data-download="download", data-refresh="refresh", data-toogle-html="toogleHtml", data-save="save")
